[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-puppet"]
	path = vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/bundle/webapi-vim"]
	path = vim/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
